.logo {
    height: 200px;
    width: 400px;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
 }

.message{
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    font: 40px bold, sans-serif;
    color: white;
}

.background {
    background: url('../img/bg.jpg'); no-repeat center center;
    background-size: cover;
}

.space-1 {
    height: 100px;
    width: 100px;
    background: url('../img/darkwood.png') no-repeat center;
}

.space-0 {
    height: 100px;
    width: 100px;
    background: url('../img/lightwood.png') no-repeat center;
}

.white {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url('../img/white.png');
    background-position: center;
}

.black {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url('../img/black.png');
    background-position: center;
}


.white-king {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url('../img/white_king.png');
    background-position: center;
}

.black-king {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url('../img/black_king.png');
    background-position: center;
}

.blank {
    display: none;
}

.selected {
    border-color: limegreen;
    box-shadow: limegreen 0 0 20px;
}

.hollow {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: inherit;
}

.mainMenuButtons {
    height: 75px;
    width:200px;
}

.flipped {
    transform: rotate(180deg);
}
