<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap-vue/dist/bootstrap-vue.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body class="background">
        <div id="app" class="container-fluid">
            <div  id="sneaky" style="display: none">
            <div class="row justify-content-center align-items-center">
                <div class="jumbotron">
                    <h1>Your color: {{ color }}</h1>
                    <h1>Turn of: {{ turn }}</h1>
                </div>
            </div>
            <!-- <div v-bind:class="{'flipped': color == 'white'}"> -->
            <div class="row justify-content-center align-items-center">
                <div v-for="row in 8" class="row">
                    <div v-for="col in 8" :class="['space-'+((row % 2 + col) % 2)]">
                        <space
                            :class="fillBoard(row, col)"
                            :ref="row*10+col"
                            :row="row"
                            :col="col"
                            :key="row+col"
                        >
                        </space>
                    </div>
                </div>
            </div>
            </div>
            <router-view></router-view>
        </div>
    </body>

    <script type="text/x-template" id="start-page">
        <div class="row h-25 justify-content-center align-items-center">
            <div class="btn-group-vertical">
                <vlogo class="img-fluid logo"></vlogo>
                <button  class="btn" v-on:click="nav('pubMatchMakingLobby')">Start</button>
            </div>
        </div>
    </script>

    <!--Main Menu Screen-->
    <script type="text/x-template" id="main-menu">
        <div>
            <div class="row h-50 justify-content-center align-items-center">
                <div class ="btn-group-vertical">
                    <vlogo class="img-fluid logo"></vlogo>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class = "col align-content-center">
                    <button class="mainMenuButtons" v-on:click="nav('pubMatchMakingLobby')">Public MatchMaking</button>
                </div>
                <div class="col"> </div>
                <div class="col">
                    <button class="mainMenuButtons" v-on:click="nav('privateLobby')">Private Lobby</button>
                </div>
                <div class="col"> </div>
            </div>
        </div>
    </script>

    <!--Public Match Making Lobby Screen-->
    <script type="text/x-template" id="public-matchmaking-lobby">
        <div class="container-fluid background ">
            <div class="row h-50 justify-content-center align-items-center">
                <vlogo class="img-fluid logo"></vlogo>
            </div>
            <div class = "row h-25" >
                <p class="message ">Searching for Opponent ...</p>
            </div>
        </div>
    </script>

    <!--Private Lobby Screen-->
    <script type="text/x-template" id="private-lobby">
        <div class="container-fluid background">
            <div class="row h-50 justify-content-center align-items-center">
                <div class ="btn-group-vertical">
                    <vlogo class="img-fluid logo"></vlogo>
                </div>
            </div>
            <div class="row h-10 justify-content-center align-items-center">
                <button class="btn" v-on:click="nav('privWaitingLobby')">Host Lobby</button>
            </div>
            <div class="row h-10 justify-content-center align-items-center">
                <input type="text" v-model="joinLobbyCode"  placeholder="Enter Lobby Code Here!">
            </div>
            <div class = "row h-10 justify-content-center align-items-center">
                <button class="btn" v-on:click="nav('join-lobby')">Join Lobby</button>
            </div>
        </div>
    </script>


    <!--Private Waiting Lobby Screen-->
    <script type="text/x-template" id="host-lobby">
        <div class="container-fluid background ">
            <div class="row h-50 justify-content-center align-items-center">
                <vlogo class="img-fluid logo"></vlogo>
            </div>
            <div class = row h-25 >
                <p class="message ">Waiting for Opponent ...</p>
            </div>
        </div>
    </script>

    <!-- Checkers board Create/View -->
    <script type="text/x-template" id="game-room">
        <div></div>
    </script>
    <script>
     require('babel-register');
     require('../js/client.js');
    </script>
</html>
